<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringImpl:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringImpl_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringImpl/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringImpl" />
        </element>
      </element>
    </root>
  </artifact>
</component>