<component name="libraryTable">
  <library name="spring mvc jar">
    <CLASSES>
      <root url="file://$USER_HOME$/Desktop/spring mvc jar" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$USER_HOME$/Desktop/spring mvc jar" recursive="false" />
  </library>
</component>