<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/struts-config.xml</param-value>
    </context-param>

    <!-- 配置TestServlet类 -->
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>servlet.TestServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
    </servlet>
    <!-- 怎么访问,与jsp的action的路径一致 -->
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <!-- 只要是.do请求都会到达servlet -->
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

</web-app>