<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>consultTaskServlet</servlet-name>
        <servlet-class>servlet.consultTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>consultTaskServlet</servlet-name>
        <url-pattern>/consultTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>taskDetailServlet</servlet-name>
        <servlet-class>servlet.taskDetailServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>taskDetailServlet</servlet-name>
        <url-pattern>/taskDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>disCourierServlet</servlet-name>
        <servlet-class>servlet.disCourierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>disCourierServlet</servlet-name>
        <url-pattern>/disCourierServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>printDisServlet</servlet-name>
        <servlet-class>servlet.printDisServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>printDisServlet</servlet-name>
        <url-pattern>/printDisServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>staticalServlet</servlet-name>
        <servlet-class>servlet.staticalServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>staticalServlet</servlet-name>
        <url-pattern>/staticalServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>writeReceiptServlet</servlet-name>
        <servlet-class>servlet.writeReceiptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>writeReceiptServlet</servlet-name>
        <url-pattern>/writeReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>consultInvoiceServlet</servlet-name>
        <servlet-class>servlet.consultInvoiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>consultInvoiceServlet</servlet-name>
        <url-pattern>/consultInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>invoiceDetailServlet</servlet-name>
        <servlet-class>servlet.invoiceDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>invoiceDetailServlet</servlet-name>
        <url-pattern>/invoiceDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modifyInvoiceServlet</servlet-name>
        <servlet-class>servlet.modifyInvoiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyInvoiceServlet</servlet-name>
        <url-pattern>/modifyInvoiceServlet</url-pattern>
    </servlet-mapping>
</web-app>